aws_region = "eu-west-3"

project_name = "aws-saa-terraform"
environment  = "learning"

vpc_cidr = "10.20.0.0/16"

public_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24",
]

private_subnet_cidrs = [
  "10.20.11.0/24",
  "10.20.12.0/24",
]

project_tags = {
  Owner   = "junior-mbogning"
  Purpose = "terraform-training"
}